[submodule "spitfire"]
	path = spitfire
	url = https://github.com/Csardelacal/SpitfireEngine
	branch = develop
[submodule "m3.js"]
	path = assets/js/m3
	url = https://github.com/Csardelacal/m3.js.git
[submodule "underscoreSCSS"]
	path = assets/scss/_
	url = https://github.com/Csardelacal/underscoreSCSS.git
