[submodule "spitfire"]
	path = spitfire
	url = https://github.com/Csardelacal/SpitfireEngine
	branch = develop
[submodule "unserscoreSCSS"]
	path = assets/scss/_
	url = https://github.com/Csardelacal/underscoreSCSS.git
