/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 28, 2019, 11:48:02 AM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

.dialog {
	
	padding: 2.5rem .5rem 2.5rem .5rem;
	background: #FFF;
	border-radius: .3rem;
	border: solid 1px #999;
	max-width: 90%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	max-height: calc(100% - 9rem);
	display: inline-block;
	position: relative;
	
	.inner {
		overflow: auto;
		position: relative;
		height: 100%;
	}
	
	.close {
		color: #AAA;
		font-weight: bold;
		text-align: right;
		cursor: pointer;
		position: absolute;
		top: .2rem;
		right: .5rem;
		font-size: 1.8rem;
		line-height: 1.8rem;
		
		&:hover {
			color: #777;
		}
	}
	
	&.transparent {
		background: transparent;
		border: none;
		margin: .5rem auto;
		max-width: 90%;
		box-shadow: none;
		
		.close {
			color: #FFF;
			text-shadow: 0 0 3px #555;
		}
	}
}

.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	z-index: 9;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

body.has-dialog {
	height: 100%;
	overflow: hidden;
}