
$navbar-background:     #FEFEFE;
$navbar-fontColor :        #444;
$navbar-height    :        50px;
$navbar-padding   :        20px;

.navbar {
	width: 100%;
	white-space: nowrap;
	overflow: visible;
	padding: 0 .4rem;
	z-index: 5;
	
	.left, 
	.right,
	.center {
		padding: $navbar-padding 0;
	}
	
	.right {
		float: right;
		text-align: right;
	}
	
	.left {
		float: left;
	}
	
	.center {
		text-align: center;
	}
	
	a {
		text-decoration: none;
		color: $navbar-fontColor;
		font-weight: bold;
		display: inline-block;
		padding: 0 $navbar-padding / 1.5;
	}
	
	.logo {
		display: inline-block;
		float: left;
		border: none;

		> * {
			vertical-align: middle;
		}

		img {
			height: $navbar-height - 2 * $navbar-padding;
			width: auto;
			margin-right: 5px;
		}
	}
	
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}
