/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2017, 3:02:00 PM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/



.main.navigation {
	background: rgba(255, 255, 255, 0.6);
	color:      #242424;
	border-bottom: solid 1px #999;
	box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
	
	.menu-item {
		background: none;
		color:      #242424;
		padding:    10px;
		width:      100%;
		display: inline-block;
		
		&:hover {
			background: #EEE;
			color:      #333;
		}
	}
}

.secondary.navigation {
	list-style-type: none;
	margin-left: 0;
	padding-left: 10px;
	
	li {
		margin-left: 4px;
		padding-left: 5px;
	}
	
	li.active {
		margin-left: 0;
		border-left: solid 4px #AAA;
	}
	
	a {
		color: #333;
		text-decoration: none;
		width: 100%;
		display: block;
		padding: 5px 5px 5px 0;
	}
	
	.navigation {
		font-size: .8em;
		padding-left: 10px;
	}
}


@media all and (max-width: 960px) {
	
	.main.navigation {
		text-align: right;
		padding: 0;
		font-size: .8em;
		
		div[class^='row'] div[class^='span'] {
			display: inline-block;
			width: auto;
			float: none;

			&.logo {
				display: block;
				text-align: center;
				font-size: 1.2em;

				img {
					margin: 0 auto;
				}
			}

			&.left {
				float: left;
			}
		}
	}
	
	.secondary.navigation {
		li {
			display: inline-block;
			border: none;
			
			&.active {
				border-left:   none;
				border-bottom: solid 3px #BBB;
			}
		}
	}
}