/*
This are the functions (mixins) used to generate the basic scaffolding for our
website. Due to the inverted functionality of the grid we rewrote big parts to 
make them more usable.
*/
/*!
    Created on : Oct 26, 2013, 7:18:16 PM
    Author     : cesar
*/

$spacer_width: 20px / $MobileBreakpoint * 100%;
$max_column_count: 10;

div[class^="span"] {
	float: left;
	margin-left: $spacer_width;
	min-height: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	&:first-child {
		margin-left: $spacer-width / 2;
	}
}

div[class^="row"] {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 71em;
	
	&:after {
		content: "";
		display: table;
		clear: both;
		width: 100%;
	}
	
	&.fluid {
		width: 100%;
		max-width: 100%;
	}
}

@function highest_divisor($number, $row_width) {
	
	@for $i from 2 through $number {
		@if ($number % $i == 0 and $row_width % $i == 0) {
			@return $i;
		}
	}
	
	@return 1;
}

@mixin column_spans($row_width) {
	
	@for $i from 1 through $row_width {
		
		>div.span#{$i} {
			$parent: '%span-fr-#{$i}-#{$row_width}';
			@extend #{$parent};
		}
		
		@if $i == 1 {
			>div.span {
				$parent: '%span-fr-1-#{$row_width}';
				@extend #{$parent};
			}
		}
		
	}
	
}

/**
 * This function creates fractions. It takes two parameters (the current row's fragmentation
 * and the most fragmented row's) and calculates the different percentual widths.
 * 
 * For the parameters 3 and 10 it will create the following
 * - %span-fr-1-3 -> 33% width
 * - %span-fr-2-6 -> @extends %span-fr-1-3
 * - %span-fr-3-9 -> @extends %span-fr-1-3
 * - %span-fr-2-3 -> 66% width
 * - %span-fr-4-6 -> @extends %span-fr-2-3
 * - %span-fr-8-9 -> @extends %span-fr-2-3
 * [...]
 */
@mixin create-fraction($row_size, $max_size) {
	
	@for $j from 1 through $row_size {

		@if (highest_divisor($j, $row_size) == 1) {
			
			%span-fr-#{$j}-#{$row_size} {
				width: $j * 100% / $row_size - $spacer_width;
			}
			
			$factor : 2;
			@while ($factor * $row_size) <= $max_size {
				%span-fr-#{$j * $factor}-#{$row_size * $factor} {
					$parent: '%span-fr-#{$j}-#{$row_size}';
					@extend #{$parent};
				}
				$factor: $factor + 1;
			}
		}
	}
}


@for $i from 1 through $max_column_count {
	@include create-fraction($i, $max_column_count)
}

@for $i from 1 through $max_column_count {
	div.row#{$i}{
		@include column_spans($i);
	}
}
