/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2016, 4:02:35 PM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/


@import '_vars';
$disbled-darken-amount: 30;

html, body{
	margin: 0;
	padding: 0;
	background: #FAFAFA;
	font-family: 'Nunito Sans', sans-serif;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
	color: $LinkColor;
	text-decoration: none;
}

p {
	&.secondary {
		color: #777;
		
		&.very {
			color: #999;
		}
	}
	
	&.small {
		font-size: .8rem;
	}
}

*[disabled] {
	pointer-events: none;
}

.button {
	background: #3191f1 none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	box-shadow: -2px -2px 1px #3167f1 inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0.5em 1.2em;
	text-decoration: none;
	
	&.follow {
		/*Follow button specific styles*/
	}
	
	&.unfollow {
		/*Follow button specific styles*/
	}
	
	&[disabled] {
		background: #AAAAAA;
		box-shadow: -2px -2px 1px #888 inset;
	}
}

.material {
	background: #FFF;
	border-radius: 2px;
	border: solid 1px #CCC;
	padding: 20px 15px 15px;
	
	&.unpadded {
		padding: 0px;
	}
	
	.padded {
		padding: 15px 10px 10px;
	}
}

.add-ping {
	background: #fff;
	
	textarea,
	.textarea {
		width: 100%;
		padding: 5px 10px;
		border: none;
		font-size: 10px;
		max-width: 100%;
		min-width: 100%;
		resize: none;
		
		&::-webkit-placeholder {
			color: #1f567d;
		}
		
		&::-moz-placeholder {
			color: #1f567d;
		}
	}
	
	input[type=submit] {
		@extend .button;
	}
}

.separator {
	border-top: solid 1px #c0d9eb;
}

.badge {
	background: #F00;
	color:      #FFF;
	border-radius: 1em;
	padding:     0 .5em;
	font-weight: bold;
	
	&[data-ping-amt='0'],
	&[data-ping-amt=''] {
		background: #BBB;
	}
}

.notification-indicator {
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: #F00;
	color:      #FFF;
	border-radius: 50%;
	font-size: 0;
	vertical-align: .4rem;
	margin: 0 .3rem;
	
	&[data-ping-amt='0'],
	&[data-ping-amt=''] {
		background: #BBB;
	}
}

.user-card {
	.banner {
		overflow: hidden;
		background: #3289c7;
		height: 60px;
		
		img {
			width: 100%;
			height: auto;
			background: #FFF;
			vertical-align: middle;
		}
	}
	
	.user-info {
		display: inline-block;
		margin-left: 5px;
	}
	
	.user-name {
		display: block;
		color: #000;
		font-weight: bold;
	}
	
	.user-bio {
		font-size: .8em;
		color: #555;
	}
	
	.avatar {
		border-radius: 5px;
		border: solid 2px #FFF;
		width: 68px;
		vertical-align: bottom;
	}
}

.home-billboard {
	
	h1, p {
		display: inline-block;
		padding: 4px 10px;
		margin: 0;
		color: #555;
		vertical-align: bottom;
		background: rgba(255, 255, 255, .6);
		box-shadow: 5px -5px 0 #777;
		z-index: 0;
	}
	
	h1 {
		padding: 4px 30px 4px 10px;
		z-index: 1;
	}
}

.profile-resume {
	.avatar {
		width: 100%;
		border-radius: 10px;
	}
	
	.bio,
	.follow-count,
	.follower-count,
	.ping-count {
		display: block;
		color: #555;
		font-size: .8em;
	}
	
	.follow-count,
	.follower-count,
	.ping-count  {
		text-align: right;
	}
	
	.user-name {
		display: block;
		color: #000;
		font-weight: bold;
	}
	
}

.source-ping {
	padding: 15px 10px 10px;
	border-bottom: solid 1px #DDD;
	background: #F6F6F6;
	color: #444;
	position: relative;
	font-size: .95em;
}

.media-cover {
	background: #EEE;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	padding: 50px 0;
	font-style: italic;
	cursor: pointer;
}
.profile {
	.delete-link {
		display: none;
		font-weight: bold;
		color: #900;
		margin-left: 3px;
		font-size: 12px;
	}
	
	&.mine {
		.delete-link {
			display: inline-block;
		}
	}
}

.pagination {
	list-style: none;
	text-align: center;
	
	li {
		display: inline-block;
		font-weight: bold;
		
		a {
			display: inline-block;
			padding: 10px;
		}
		
		&.disabled, &.disabled a {
			color: #AAA;
		}
		
		&.active {
			border-bottom: solid 1px #777;
		}
	}
}

.ping-contextual-link {
	color: #666;
	margin: 0 10px;
	line-height: 14px;
	
	&:hover {
		color: #333;
	}
	
	&.liked {
		color: #A33;
	}
	
	span {
		vertical-align: middle;
		font-size: 1rem;
	}
	
	.im {
		vertical-align: middle;
		font-size: .9rem;
		line-height: .9rem;
	}
}

.share-link {
	color: #333;
	font-weight: bold;
	margin: 0 10px;
	line-height: 14px;
	font-size: 12px;
	
	&:before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		background: url('../img/share.png');
		background-size: 12px 12px;
		margin: 0 5px;
		vertical-align: middle;
	}
}

.like-link {
	color: #333;
	font-weight: bold;
	margin: 0 10px;
	line-height: 14px;
	font-size: 12px;
	
	&:before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		background: url('../img/like.png');
		background-size: 12px 12px;
		margin: 0 5px;
		vertical-align: middle;
	}
}

.share-link, .reply-link, .like-link {
	opacity: .6;
	
	&:hover {
		opacity: 1;
	}
}

#new-ping-content {
	font-size: 1.05em;
	color: #3b7080;
	font-family: inherit;
	padding: 0;
	min-height: 50px;
	max-height: 300px;
	
	&::placeholder {
		font-size: .8em;
	}
}

.media-preview {
	overflow: hidden;
	border-radius: 10px;
	
	img {
		vertical-align: top;
		border-bottom: solid 1px #FFF;
		border-right: solid 1px #FFF;
		
	}
}

#page-banner {
	max-height: 400px;
	min-height: 100px;
	overflow: hidden;
	
	border-bottom: solid 1px #777;
	position: relative;
	
	&:after {
		content: '';
		position: absolute;
		top : 0;
		left : 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), transparent 5%, transparent 95%, rgba(0, 0, 0, .2));
	}
	
	
	img {
		max-width: 100%;
		width: 2000px;
		margin: 0 auto;
		display: block;
		vertical-align: middle;
	}
}

.row .span {
	margin: 0 !important;
}

@media all and (min-width: $MobileBreakpoint) {
	.mobile-only { display: none !important; }
}

@media all and (max-width: $MobileBreakpoint) {
	.desktop-only { display: none !important; }
}

//@import "scaffolding/_scaffolding.scss";
@import '_navigation';
@import '_activity';
@import '_styledSelect';
@import '_navbar';
@import '_vars';
@import '_spinner';
@import 'ui/_ui.scss';
@import "ping/_ping.scss";
@import "_/_.scss";