/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2016, 4:02:35 PM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/


@import '_vars';

html, body{
	margin: 0;
	padding: 0;
	background: #FAFAFA;
	font-family: 'Nunito Sans', sans-serif;
	height: 100%;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a {
	color: $LinkColor;
	text-decoration: none;
}

.button {
	background: #3191f1 none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	box-shadow: -2px -2px 1px #3167f1 inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 0.5em 1.2em;
	text-decoration: none;
	
	&.follow {
		/*Follow button specific styles*/
	}
	
	&.unfollow {
		/*Follow button specific styles*/
	}
}

.material {
	background: #FFF;
	border-radius: 2px;
	border: solid 1px #CCC;
	padding: 20px 15px 15px;
	
	&.unpadded {
		padding: 0px;
	}
	
	.padded {
		padding: 15px 10px 10px;
	}
}

.add-ping {
	background: #fff;
	
	textarea,
	.textarea {
		width: 100%;
		padding: 5px 10px;
		border: none;
		font-size: 10px;
		max-width: 100%;
		min-width: 100%;
		resize: none;
		
		&::-webkit-placeholder {
			color: #1f567d;
		}
		
		&::-moz-placeholder {
			color: #1f567d;
		}
	}
	
	input[type=submit] {
		@extend .button;
	}
}

.separator {
	margin: 10px 0;
	border-top: solid 1px #c0d9eb;
}

.badge {
	background: #F00;
	color:      #FFF;
	border-radius: 1em;
	padding:     0 .5em;
	font-weight: bold;
	
	&[data-ping-counter='0'],
	&[data-ping-counter=''] {
		background: #BBB;
	}
}

.user-card {
	.banner {
		height: 64px;
		overflow: hidden;
		background: #3289c7;
		
		img {
			width: 100%;
			height: auto;
			background: #FFF;
		}
	}
	
	.user-info {
		display: inline-block;
		margin-left: 5px;
	}
	
	.user-name {
		display: block;
		color: #000;
		font-weight: bold;
	}
	
	.user-bio {
		font-size: .8em;
		color: #555;
	}
	
	.avatar {
		border-radius: 5px;
		border: solid 2px #FFF;
		width: 68px;
		vertical-align: bottom;
	}
}

.home-billboard {
	
	h1, p {
		display: inline-block;
		padding: 4px 10px;
		margin: 0;
		color: #555;
		vertical-align: bottom;
		background: rgba(255, 255, 255, .6);
		box-shadow: 5px -5px 0 #777;
		z-index: 0;
	}
	
	h1 {
		padding: 4px 30px 4px 10px;
		z-index: 1;
	}
}

.profile-resume {
	.avatar {
		width: 100%;
		border-radius: 10px;
		border: solid 3px #FFF;
	}
	
	.bio {
		color: #555;
		font-size: .8em;
	}
}

.media-cover {
	background: #EEE;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	padding: 50px 0;
	font-style: italic;
	cursor: pointer;
}

.pagination {
	list-style: none;
	text-align: center;
	
	li {
		display: inline-block;
		font-weight: bold;
		
		a {
			display: inline-block;
			padding: 10px;
		}
		
		&.disabled, &.disabled a {
			color: #AAA;
		}
		
		&.active {
			border-bottom: solid 1px #777;
		}
	}
}

@media all and (min-width: $MobileBreakpoint) {
	@import '_scaffolding';
	.mobile-only { display: none !important; }
}

@media all and (max-width: $MobileBreakpoint) {
	@import '_scaffolding_mobile';
	
	.desktop-only { display: none !important; }
}

@import '_navigation';