
body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.sidebar {
	overflow: hidden;
	position: relative;
	width:  200px;
	
	.menu-title {
		color: #2a912e;
		padding: 10px;
	}
	
	.menu-entry {
		padding: 5px 0px 5px 15px;
		font-size: .8em;
		color: #666;
	}
	
	.indented {
		padding-left: 10px;
		border-left: solid 1px #DDD;
	}

	a {
		color: inherit;
		text-decoration: none;
		
		&:hover {
			color: #333;
		}
	}
}

.sidebar:hover {
	overflow: auto;
}

.toggle-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width : 38px;
	height: 17px;
	padding: 0px;
	background-image: linear-gradient(180deg, #FFF 3px, transparent 3px, transparent 7px, #FFF 7px, #FFF 10px, transparent 10px, transparent 14px, #FFF 14px);
	background-size: 20px 17px;
	background-position: center center;
	background-repeat: no-repeat;

	&.hidden {
		display: none;
	}

	&.dark {
		background-image: linear-gradient(180deg, #242424 3px, transparent 3px, transparent 7px, #242424 7px, #242424 10px, transparent 10px, transparent 14px, #242424 14px);

		&:after, &:before {
			background:   #242424;
		}
	}
	
	&.narrow {
		background-size: 3px 17px;
		width: 20px;
	}
}

.contains-sidebar {
	overflow-x: hidden;
}

.content {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	white-space: normal;
	
	/* 12.03.2018
    * This was introduced to prevent browsers (namely Safari) from not redrawing
    * the children properly when resizing the UI. For some reason, when the parent
    * is changed in size, not all children behave as expected.
	 */
	overflow-x: hidden;
}

	

@media all {
	.contains-sidebar {
		display: inline-block;
		width: 200px;
		height: 100%;
		background: #FBFBFB;
		border-right: solid 1px #EEE;
		
	}
}


@media all and (max-width: 1160px) {
	.contains-sidebar {
		display: none;
	}
	
	.sidebar {
		display: none;
	}
	
	.content {
		width: 100%;
	}
}


@media all and (min-width: 1160px) {
	.contains-sidebar {
		&+.content {
			width: calc(100% - 200px);
		}
		
		.sidebar {
			position: relative;
			width: 200px;
		}
	}
}
