/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.04.2018, 14:51:25
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/



@function highest_divisor($number, $row_width) {
	
	@for $i from 2 through $number {
		@if ($number % $i == 0 and $row_width % $i == 0) {
			@return $i;
		}
	}
	
	@return 1;
}

@mixin column_spans($prefix, $row_width) {
	
	@for $i from 1 through $row_width {
		
		>.#{$prefix}#{$i} {
			$parent: '%#{$prefix}span-fr-#{$i}-#{$row_width}';
			@extend #{$parent};
		}
		
	}
	
}

/**
 * This function creates fractions. It takes two parameters (the current row's fragmentation
 * and the most fragmented row's) and calculates the different percentual widths.
 * 
 * For the parameters 3 and 10 it will create the following
 * - %span-fr-1-3 -> 33% width
 * - %span-fr-2-6 -> @extends %span-fr-1-3
 * - %span-fr-3-9 -> @extends %span-fr-1-3
 * - %span-fr-2-3 -> 66% width
 * - %span-fr-4-6 -> @extends %span-fr-2-3
 * - %span-fr-8-9 -> @extends %span-fr-2-3
 * [...]
 */
@mixin create-fraction($prefix, $row_size, $max_size) {
	
	@for $j from 1 through $row_size {

		@if (highest_divisor($j, $row_size) == 1) {
			
			%#{$prefix}span-fr-#{$j}-#{$row_size} {
				width: $j * 100% / $row_size - $spacer_width;
			}
			
			$factor : 2;
			@while ($factor * $row_size) <= $max_size {
				%#{$prefix}span-fr-#{$j * $factor}-#{$row_size * $factor} {
					$parent: '%#{$prefix}span-fr-#{$j}-#{$row_size}';
					@extend #{$parent};
				}
				$factor: $factor + 1;
			}
		}
	}
}


@mixin grid($prefix, $columncount) {
	
	@for $i from 1 through $max_column_count {
		@include create-fraction($prefix, $i, $max_column_count)
	}

	@for $i from 1 through $max_column_count {
		.row.#{$prefix}#{$i}{
			@include column_spans($prefix, $i);
		}
	}
}
