/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.04.2018, 14:51:25
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/



@function highest_divisor($number, $row_width) {
	
	@for $i from 2 through $number {
		@if ($number % $i == 0 and $row_width % $i == 0) {
			@return $i;
		}
	}
	
	@return 1;
}


@mixin create-fraction($prefix, $row_size, $max_size) {
	
	@for $j from 1 through $row_size {

		@if (highest_divisor($j, $row_size) == 1) {
			
			._f#{$prefix}#{$row_size}-#{$prefix}#{$j}, 
			.row.#{$prefix}#{$row_size}>.span.#{$prefix}#{$j} {
				width: $j * 100% / $row_size - $spacer_width;
			}
			
			$factor : 2;
			
			@while ($factor * $row_size) <= $max_size {
				.row.#{$prefix}#{$row_size * $factor}>.span.#{$prefix}#{$j * $factor} {
					$parent: '._f#{$prefix}#{$row_size}-#{$prefix}#{$j}';
					@extend #{$parent};
				}
				$factor: $factor + 1;
			}
		}
	}
}


@mixin grid($prefix, $columncount) {
	
	@for $i from 1 through $max_column_count {
		@include create-fraction($prefix, $i, $max_column_count)
	}
}
